@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,400');
@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Exo+2:200');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}

.App {
  margin-top: 0;
}

#footer{
  padding: 2px;
  border-radius: 1px;
  position:fixed;
  bottom:0px;
  width:100%;
  z-index: 2;
  background: transparent;
}

#food-search {
  margin-top: 5em;
}

.tint {
	background: rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: 1;
}

.typeFont {
  font-size: 1.3em;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
}

.homeContent {
  font-family: 'Roboto Mono', cursive;
}

.largerFont {
  font-weight: 200 ;
  font-size: 7vw;
}

.rightPosition {
  position: absolute;
  right: 0 ;
}

.aboutBackground2 {
  /*---------------------------------  Deep Space -------------------------------------*/
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to righ, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.aboutBackground{
  background: #8E0E00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1F1C18, #3a0000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1F1C18, #4c0303); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.skillsBackground2 {
  /*---------------------------------  Midnight City -------------------------------------*/
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.skillsBackground  {
  background: #16222A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #001421, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.handwritingFont {
  font-family: 'Architects Daughter', cursive;
}

.righteous {
  font-family: 'Righteous', sans-serif;
}

.josefinSlab {
  font-family: 'Josefin Slab', serif;
}
