@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,400');
@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Exo+2:200');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300');
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}

.App {
  margin-top: 0;
}

#footer{
  padding: 2px;
  border-radius: 1px;
  position:fixed;
  bottom:0px;
  width:100%;
  z-index: 2;
}

#food-search {
  margin-top: 5em;
}

.tint {
	background: rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: 1;
}

.typeFont {
  font-size: 1.3em;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
}

.homeContent {
  font-family: 'Roboto Mono', cursive;
}

.largerFont {
  font-weight: 200 ;
  font-size: 7vw;
}

.rightPosition {
  position: absolute;
  right: 0 ;
}
